@font-face {
  font-family:"Klee";
  src:url("Klee_One/KleeOne-Regular.ttf") format("truetype");
 }
body {
   font-family:"Klee";
    color: #333;
    background-color:rgb(211, 173, 129);
  }
  
  h1 {
    font-size: 40px;
    color: #2c3e50;
  }

  
  span {
    font-size: 20px;
    color: #7f8c8d;
  }
  
  .container-article {
      max-width: 60%;
      margin: 0 auto;
      padding: 0 20px;
    }
  
    .container-head{
      width:100%;
      margin-bottom:30vh;
    }
  .header {
    text-align: center;
    padding: 32px 0;
    height:80vh;
   background-color:rgb(2, 11, 30);
  }
  .header img{
    height:90%;
  }
  .numero{
    font-size:40px;
    color:white;
  }
  
  .chapter {
    height: 3000px;
    padding: 32px;
    margin-bottom: 64px;
  }
  .chapter.common {
    padding:30px 70px 30px 70px;
  }
  
  .chapter h2 {
    font-size: 32px;
    color: #ffffff;
    margin-top:50px;
  }
  .chapter-talk{
    margin-top:70px;
  }
  .chapter-talk dl{
  display:flex;
  font-size:16px;
  color:white;
  margin-bottom:40px;
  }
  .chapter-talk dt{
    width:15%;
    text-align:right;
  }
  .chapter-talk dd{
    width:80%;
    line-height:1.8em;
  }

  .illust-test{
    background-color:#7f8c8d;
    width:40vh;
    height:200vh;
    margin-top:20%;
    margin-right:10vh;
  }
  .big-container2{
    display:flex;
    height:500vh
  }

  .button-container{ 
    max-width:60%;
    margin: 0 auto;
  }
  .page-button{
    justify-content:center;
    height:20vh;
    padding:20px 10px 20px 10px;
    display:flex;
    gap:200px;
  }
  a{
    text-decoration:none;
    height:150px;
  }
  a:hover{
    opacity:0.5;
  }
  .page-button p{
    color:rgb(83, 83, 83);
    text-decoration:none;
    font-size:16px;
  }
  .button-text{
    margin-left:8px;
  }
  .button-next{
    height:80px;
    background-image:url(page-next.png);
    background-size:contain;
    background-repeat: no-repeat;
    margin-bottom:-10px;
  }
  .button-back{
    height:80px;
    background-image:url(page-back.png);
    background-size:contain;
    background-repeat: no-repeat;
    margin-bottom:-10px;
  }

  @media screen and (max-width: 950px) {
    .chapter-talk dl{
      display:flex;
      font-size:14px;
      }
      a{
        text-decoration:none;
        width:60px;
      }
      .page-button p{
        font-size:13px;
      }
  }

  @media screen and (max-width: 767px) {
    h1 {
      font-size: 32px;
    }
  
    span {
      font-size: 16px;
    }
  
    .header {
      padding: 24px 0;
    }
  
    .header h1 {
      margin-bottom: 12px;
    }
  
    .chapter.common{
      height: 2800px;
      padding: 30px 50px 30px 50px;
      margin-bottom: 48px;
    }

    .chapter h2 {
      font-size: 24px;
    }
  
    .chapter-talk dl{
      display:flex;
      font-size:12px;
      }
      .page-button p{
        font-size:11px;
      }
  }

