body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color:rgb(228, 177, 118);
  }
  
  h1 {
    font-size: 40px;
    color: #2c3e50;
  }
  
  span {
    font-size: 20px;
    color: #7f8c8d;
  }
  
  .container-article {
      max-width: 60%;
      margin: 0 auto;
      padding: 0 20px;
    }
  
    .container-head{
      width:100%;
      margin-bottom:30vh;
    }

  .header {
    text-align: center;
    padding: 32px 0;
    height:80vh;
   background-color:grey;
  }
  
  
  .chapter {
    height: 1500px;
    padding: 32px;
    margin-bottom: 64px;
  }
  
  .chapter.common {
    background-color:#7f8c8d;
    border-radius:5%;
    padding:30px 70px 30px 70px;
  }
  
  .chapter h2 {
    font-size: 32px;
    color: #ffffff;
  }
  
  .chapter p {
    font-size: 18px;
    line-height: 1.6;
    color:white;
  }
  .button-container{
    justify-content:center;
  }
  .page-button{
    margin-left:30%;
    max-width:60vh;
    justify-content:center;
    height:20vh;
    padding:20px 10px 20px 10px;
    display:flex;
    gap:200px;
  }
  a{
    text-decoration:none;
    height:150px;
  }
  a:hover{
    opacity:0.5;
  }
  .page-button p{
    color:rgb(83, 83, 83);
    text-decoration:none;
    font-size:16px;
  }
  .button-text{
    margin-left:8px;
  }
  .button-next{
    height:80px;
    background-image:url(page-next.png);
    background-size:contain;
    background-repeat: no-repeat;
    margin-bottom:-10px;
  }
  .button-back{
    height:80px;
    background-image:url(page-back.png);
    background-size:contain;
    background-repeat: no-repeat;
    margin-bottom:-10px;
  }

  @media screen and (max-width: 767px) {
    h1 {
      font-size: 32px;
    }
  
    span {
      font-size: 16px;
    }
  
    .header {
      padding: 24px 0;
    }
  
    .header h1 {
      margin-bottom: 12px;
    }
  
    .chapter.common{
      height: 600px;
      padding: 30px 50px 30px 50px;
      margin-bottom: 48px;
    }

    .chapter h2 {
      font-size: 24px;
    }
  
    .chapter p {
      font-size: 16px;
    }
  }
  